<div ng-controller="QuestionController">
  <div ng-if="showCover" class="cover-bg background">
    <h1 class="cover-text"><span class="small">Капитал шоу</span> <br/> Своя <br/> Когда <br/> <span class="middle">Миллионером</span></h1>
    <audio src="data/jingl.mp3" autoplay loop></audio>
  </div>
  <div class="margin">
    <div ng-if="steps.step1.show" class="step background">
      <div class="step-table" ng-bind-html="steps.step1.content"></div>
    </div>
    <div ng-if="steps.step2.show" class="step background">
      <div class="step-table" ng-bind-html="steps.step2.content"></div>
    </div>
  </div>
  <div ng-if="steps.step3.show" class="step background">
    <div class="step-table" ng-bind-html="steps.step3.content"></div>
  </div>
  <div ng-if="steps.step4.show" class="step background">
    <div class="step-table" ng-bind-html="steps.step4.content"></div>
  </div>



  <!--Аудио -->

  <div class="audio-gong" ng-if="audio.gong">
    <audio src="data/gong.mp3" autoplay></audio>
  </div>

</div>

